.git
.gitignore
*.md

backend/venv
backend/.venv
**/__pycache__
**/*.pyc
backend/data/*.db
backend/data/*.db-wal
backend/data/*.db-shm
backend/landing/*
!backend/landing/.gitkeep

frontend/node_modules
frontend/dist

/data/
